nav{
    background: rgb(3, 1, 1);
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
label.logo{
    color: rgb(180, 175, 175);
    font-size: 30px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;

    box-sizing: border-box;
border: 2px solid rgb(206, 13, 13) ;
  left: 20px;
  position: relative;
    
    
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    text-transform: uppercase;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    top: -15px;
    position: relative;
    text-decoration: none;
}
a:hover{
background: rgb(160, 159, 157);
transition: .5s;
}






 .home-content .text-1 {
    font-size: 27px;
    color: ivory;

}
 .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: rgb(199, 185, 185);

}
 .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
    color: ivory;
  

}
 .home-content .text-3 span {
    color: crimson;
    font-weight: 500  ;
}
.home-content{
    top: 200px;
    position: relative;
   text-align: center;
   left: -350px;
}




.photo{
    border: 3px solid rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    position: relative;
    left: 950px;
    top: -60px;
    box-shadow: 1px 2px 10px 8px;
}





.skills h2{
    text-align: center;
    font-size: 40px;
    color: white;
}
.skills ul li{
    text-align: center;
    list-style: none;
    
}
.skills ul{
    border: 3px solid rgb(223, 12, 12);
    border-radius: 10px;
    width: 800px;
    text-align: center;
    left: 330px;
    position: relative;

}
.photoshop{
    position: relative;
    left: -300px;
    top: 16px;
    font-size: 20px;
    color: rgb(215, 215, 226);
}
.illustrator{
    position: relative;
    left: 300px;font-size: 20px;color: chocolate;
}
.webdev{
    position: relative;
    left: -300px;
    top: 16px;font-size: 20px;color: yellow
}
.html{
    position: relative;
    left: 300px;font-size: 20px;color: rgb(9, 237, 245);
}
.python{
    position: relative;
    left: -300px;
    top: 16px;font-size: 20px;color: green;
}
.vector{
    position: relative;
    left: 300px;font-size: 20px;color: rgb(255, 80, 203);
}
html { 
    background: url(/html/img/utkarshback.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  div h2{
      color: rgb(140, 146, 140);
  }
  /*FOOTER*/
  .footer{
    background: rgb(3, 1, 1);
   border-radius: 10px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    padding: 50px 50px;
    

}
.footer-left{
    float: left;
}

.footer h3{
    color:wheat;
    font-size: 45px;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    margin: 0;
}


.footer .footer-links{
    color: wheat;
    margin: 20px 12px;
    padding: 0;
}


.footer .footer-team{
    color:black;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    font-family:'Raleway',sans-serif ;
    padding: 20px;

}


.footer-right{
  
   text-align: right;
   font-size: 35px;
}

.footer-social a i:hover{
    background-color:black;
    
}
.footer-social a i{
    color: rgb(243, 126, 30);
  margin: 0;
    }
.footer .footer-center{

position: absolute;
left: 600px;
color: white;

}
.footer-center{
text-align: center;

}

.footer .footer-center i{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    background:rgb(56, 59, 59);
    color: wheat;
}
.footer-right p span{
    color: wheat;
}
.footer .footer-left p{
    color: white;
}
.mail{
    text-decoration: none;
    color: ivory;

}
.mail:hover{
    color: rgb(212, 105, 105);
    box-sizing: border-box;
    border-radius: 5px;
}